In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/shivampb/dataSets/main/music.csv')
df

    age  gender       genre
0    20       1      hiphop
1    23       1      hiphop
2    25       1      hiphop
3    26       1        jazz
4    29       1        jazz
5    30       1        jazz
6    31       1  classsical
7    33       1  classsical
8    37       1  classsical
9    20       0       dance
10   21       0       dance
11   25       0       dance
12   26       0    acoustic
13   27       0    acoustic
14   30       0    acoustic
15   31       0  classsical
16   34       0  classsical
17   35       0  classsical

In [ ]:
# data seperation

In [23]:
X = df.drop('genre',axis=1)
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [8]:
Y = df['genre']
Y

0         hiphop
1         hiphop
2         hiphop
3           jazz
4           jazz
5           jazz
6     classsical
7     classsical
8     classsical
9          dance
10         dance
11         dance
12      acoustic
13      acoustic
14      acoustic
15    classsical
16    classsical
17    classsical
Name: genre, dtype: object

In [9]:
# create model and train with whole dataset

In [29]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X,Y)
result = model.predict([ [21,1],[22,0] ])
result

C:\Users\shiva\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['hiphop', 'dance'], dtype=object)

In [30]:
# Sliptting Dataset into Traning/testing 80/20

In [50]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size=0.2)
Y_test

12      acoustic
6     classsical
1         hiphop
17    classsical
Name: genre, dtype: object

In [36]:
# now here we have data for both traning and testing lets fir in our model

In [37]:
model.fit(X_train,Y_train)

DecisionTreeClassifier()

In [38]:
# now lets make prediction using our testing dataset

In [53]:
result = model.predict(X_test)
result

array(['acoustic', 'classsical', 'hiphop', 'classsical'], dtype=object)

In [41]:
# check accuracing by comapring output with the Y_test

In [54]:
from sklearn.metrics import accuracy_score
score = accuracy_score(Y_test,result)
score

1.0